/*
bg: #d5d6db
fg: #343b58 	
red: #8c4351
orange: #965027
yellow: #8f5e15 	
green: #485e30 	
purple: #5a4a78
blue: #0f4b6e
 */

body.light {
    --bg: #d5d6db;
    --fg: #343b58;
    --red: #8c4351;
    --orange: #965027;
    --yellow: #8f5e15;
    --green: #485e30;
    --purple: #5a4a78;
    --blue: #0f4b6e;
}

body{
    --bg: #1a1b26;
    --fg: #a9b1d6;
    --red: #f7768e;
    --orange: #ff9e64;
    --yellow: #e0af68;
    --green: #9ece6a;
    --purple: #bb9af7;
    --blue: #7dcfff;
}



/*
 
bg: #1a1b26
fg: #a9b1d6
red: #f7768e 	
orange: #ff9e64
yellow: #e0af68
green: #9ece6a
purple: #bb9af7
blue:  #7dcfff

 */

