@use 'function' as func;

body {
    $bg: func.nord(light, bg);
    $fg: func.nord(light, fg);
    $red: func.nord(light, red);
    $orange: func.nord(light, orange);
    $yellow: func.nord(light, yellow);
    $green: func.nord(light, green);
    $purple: func.nord(light, purple);
    $teal: func.nord(light, teal);
    $blue: func.nord(light, blue);
    $turquoise: func.nord(light, turquoise);
    $gray-blue: func.nord(light, gray-blue);
}

body.dark {
    $bg: func.nord(dark, bg);
    $fg: func.nord(dark, fg);
    $red: func.nord(dark, red);
    $orange: func.nord(dark, orange);
    $yellow: func.nord(dark, yellow);
    $green: func.nord(dark, green);
    $purple: func.nord(dark, purple);
    $teal: func.nord(dark, teal);
    $blue: func.nord(dark, blue);
    $turquoise: func.nord(dark, turquoise);
    $gray-blue: func.nord(dark, gray-blue);
}
