/*  bg: #2e3440,
  fg: #eceff4,
  red: #bf616a,
  orange: #d08770,
  yellow: #ebcb8b,
  green: #a3be8c,
  purple: #b48ead,
  teal: #88c0d0,
  blue: #5e81ac,
  turquoise: #8fbcbb,
  gray-blue: #81a1c1,*/

body {
    --fg: #2e3440;
    --bg: #eceff4;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;
    --teal: #88c0d0;
    --blue: #5e81ac;
    --turquoise: #8fbcbb;
    --gray-blue: #81a1c1;
}

body.dark {
    --bg: #2e3440;
    --fg: #eceff4;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;
    --teal: #88c0d0;
    --blue: #5e81ac;
    --turquoise: #8fbcbb;
    --gray-blue: #81a1c1;
}
