@import url("../../../styles/global/colors.css")

*
    color: var(--fg)

.home
    margin: 1em 

.type
    font-size: 4em
    font-weight: bold

section
    height: 80vh
    display: flex
    justify-content: center
    align-items: center
