nav
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;

.navlinks
    display: flex;
    gap: 1rem;

.navlinks li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
    font-size: 1rem;
}
