@import url("../../styles/global/colors.css");

$form-margin: 10em;

//$green: 
//$background-color: 

.startpage * {
    background-color: #1d1f21;
}

.startpage {
    height: 100vh;
    width: 100vw;
}
.startpage html {
      align-items: center;
      background-color: #f7eee4;
      color: #c5c8c6;
      display: flex;
      //font: 22px/1 "Inconsolata", monospace;
      height: 100%;
      justify-content: center;
    }

   .startpage body {
      background-color: #1d1f21;
      border-radius: 2px;
      box-shadow: 1px 1px 6px #1d1f2187;
      color: #c5c8c6;
      display: flex;
      flex-direction: column;
      min-height: 30ch;
      min-width: 50vw;
      padding: 2em;
    }

  .startpage  p {
      margin: 0;
    }

   .startpage p span {
      color: #b5bd68;
    }

   .startpage a {
      color: inherit;
      text-decoration: none;
    }

   .startpage a:focus,
   .startpage a:hover {
      font-weight: bold;
    }

   .startpage ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

   .startpage nav {
      column-gap: 2em;
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 1em 0;
    }

   .startpage ul:nth-child(5n + 1) li:first-child {
      color: #a54242;
    }

   .startpage ul:nth-child(5n + 2) li:first-child {
      color: #de935f;
    }
    
   .startpage ul:nth-child(5n + 3) li:first-child {
      color: #f0c674;
    }
    
   .startpage ul:nth-child(5n + 4) li:first-child {
      color: #8c9440;
    }

   .startpage ul:nth-child(5n + 5) li:first-child {
      color: #85678f;
    }

   .startpage li:first-child {
      font-weight: bold;
    }

   .startpage li:last-child {
      margin: 0 0 1em;
    }

    .startpage #cursor {
      background-color: #b5bd68;
      animation: blink 2s infinite;
    }

    @keyframes blink {
      0%, 49% { opacity: 0; }
      50% { opacity: 1; }
    }

    .startpage form {
        margin: 1em;
        margin-left: $form-margin;
        position: relative;
    }

    .startpage form input[type="search"] {
        background-color: rgba(29, 31, 33, 1);
        outline: none !important;
        border: none;
        box-sizing: border-box;
        font-weight: bold;
        font: inherit;
        width: 50%;
        caret-color: #b5bd68;
    }


    .startpage label {
        color: #b5bd68;
        left: -$form-margin;
        position: absolute;
    }

    .startpage form:focus-within input::placeholder {
        opacity: 0;
    }
