@use 'assets/colors/colors' as colors

$dark_or_light: dark

/*  bg: #2e3440,
  fg: #eceff4,
  red: #bf616a,
  orange: #d08770,
  yellow: #ebcb8b,
  green: #a3be8c,
  purple: #b48ead,
  teal: #88c0d0,
  blue: #5e81ac,
  turquoise: #8fbcbb,
  gray-blue: #81a1c1,*/

.App
  text-align: center

.App-logo
  height: 40vmin
  pointer-events: none

@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation: App-logo-spin infinite 20s linear

.App-header
  background-color: colors.nord($dark_or_light, bg)
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.App-link
  color: #61dafb

@keyframes App-logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
