@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap')

// sets font as Space Mono
html
    font-family: 'Space Mono', monospace

// sets font as Space Mono
body
    margin: 0
    font-family: 'Space Mono', monospace
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

// sets font as Space Mono
code
    font-family: 'Space Mono', monospace

// just makes sure that the sides are all 0
*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: border-box


